<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>friendApply</title>
</head>
<body>
    <h1 th:value="${userNo}">好友申请页面</h1>
    <div th:each="friend:${friendes}" id="friendList">
        <div>
            <div th:text="${friend.getUsername()}+'请求添加你为好友'"></div>
            <button onclick="receive(this)" th:value="${friend.getUserNo()}">接收</button>
            <button onclick="refuse(this)" th:value="${friend.getUserNo()}">拒绝</button>
        </div>
    </div>
</body>
<script th:src="@{jquery.js}" type="text/javascript"></script>
<script>
    function receive(present) {
        $.ajax({
            url:"receiveFriendApply",
            method:"post",
            data:"userNo=[[${userNo}]]"+"&friendNo="+present.value,
            success:function (result,status) {
                location.reload();
            }
        })
    }

    function refuse(present){

    }
</script>
</html>